<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户信息页面</title>
</head>

<body>
    <%
        if("undefined" != typeof message){
        %>
        <p>
            <span style="font-size:20px">
                <%= message %>
            </span>
            <span style="font-size:14px">
                <a href="../logout">注销</a>
            </span>
        </p>

        <%    
        } 
        %>

            <table border="1" cellpadding="10">
                <tr>
                    <th>用户名</th>
                    <th>电话号码</th>
                    <th>邮箱</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <%= user.username %>
                    </td>
                    <td>
                        <%= user.telephone %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <a href="../user_info_modify">编辑</a>
                    </td>
                </tr>

            </table>
</body>

</html>